body,
html {


    height: 100%;

}


.background {
    /* The image used */
    background-image: url("../images/background3.jpg");
    /* Full height */
    min-height: 100%;



    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}

.displayOnMobile {
    display: none;
}


@media screen and (max-width: 768px) {

    .char-select {
        width: 120%;
    }

    .hp-tag {
        display: none;
    }

    .name-tag {
        display: none;
    }

    .displayOffMobile {
        display: None;
    }

    .displayOnMobile {
        display: block;
    }
}